@tailwind base;
@tailwind components;
@tailwind utilities;

/* Klinikaga mos custom classlar */
.input {
  @apply w-full p-2 border rounded-lg;
}

.btn {
  @apply w-full bg-teal-700 text-white py-2 rounded-lg;
}
